@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-cowboy-blue: #326ec5;
  --radius-smid: 0.313rem;
  --spacing-cowboy-width: calc(100vw - 1.25rem);
  --spacing-cowboy-height: calc(100vh - 1.25rem);
  --grid-gallery: repeat(auto-fit, minmax(320px, 1fr));
  --grid-session: repeat(auto-fit, minmax(320px, 1fr));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
