@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-cowboy-blue: #326ec5;
  --radius-smid: 0.313rem;
  --spacing-cowboy-width: calc(100vw - 1.25rem);
  --spacing-cowboy-height: calc(100vh - 1.25rem);
  --grid-gallery: repeat(auto-fit, minmax(320px, 1fr));
  --grid-session: repeat(auto-fit, minmax(320px, 1fr));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-2 bg-white outline shadow-[-400px_0_0_400px] shadow-neutral-300;
}

/* LOADER */
.loader {
  width: fit-content;
  /* font-weight: bold; */
  /* font-family: monospace; */
  font-size: 0.75rem;
  /* clip-path: inset(0 2ex 0 0); */
  clip-path: inset(0 0.9em 0 0);
  animation: l4 1.5s steps(4) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    /* clip-path: inset(0 -1ch 0 0); */
    clip-path: inset(0 -0.4em 0 0);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
