@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-cowboy-blue: #326ec5;
  --color-cowboy-rust: #c58932;
  --color-cowboy-blue-darker: #234c88;
  --color-cowboy-rust-darker: #885f23;
  --ease-InOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
  --radius-smid: 0.313rem;
  --spacing-cowboy-width: calc(100vw - 1.25rem);
  --spacing-cowboy-height: calc(100vh - 1.25rem);
  --grid-gallery: repeat(auto-fit, minmax(320px, 1fr));
  --grid-session: repeat(auto-fit, minmax(320px, 1fr));
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

input[type="range"]::-webkit-slider-thumb {
  @apply h-2 w-4 appearance-none bg-white shadow-[-400px_0_0_400px] shadow-neutral-300 outline;
}

/* LOADER */
.loader {
  width: fit-content;
  /* font-weight: bold; */
  /* font-family: monospace; */
  font-size: 0.75rem;
  /* clip-path: inset(0 2ex 0 0); */
  clip-path: inset(0 0.9em 0 0);
  animation: l4 1.5s steps(4) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    /* clip-path: inset(0 -1ch 0 0); */
    clip-path: inset(0 -0.4em 0 0);
  }
}

/* PAGE TRANSITION */
::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
